@font-face {
  font-family: "Montserrat";
  src: url("../webfonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../webfonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/Montserrat-Bold.woff2") format("woff2"),
    url("../webfonts/Montserrat-Bold.woff") format("woff"),
    url("../webfonts/Montserrat-Bold.ttf") format("truetype"),
    url("../webfonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../webfonts/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"),
    url("../webfonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/Montserrat-Black.woff2") format("woff2"),
    url("../webfonts/Montserrat-Black.woff") format("woff"),
    url("../webfonts/Montserrat-Black.ttf") format("truetype"),
    url("../webfonts/Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../webfonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../webfonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/Montserrat-Medium.woff2") format("woff2"),
    url("../webfonts/Montserrat-Medium.woff") format("woff"),
    url("../webfonts/Montserrat-Medium.ttf") format("truetype"),
    url("../webfonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../webfonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../webfonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/Montserrat-Regular.woff2") format("woff2"),
    url("../webfonts/Montserrat-Regular.woff") format("woff"),
    url("../webfonts/Montserrat-Regular.ttf") format("truetype"),
    url("../webfonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../webfonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../webfonts/Montserrat-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../webfonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../webfonts/Montserrat-SemiBold.woff") format("woff"),
    url("../webfonts/Montserrat-SemiBold.ttf") format("truetype"),
    url("../webfonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Tangerine",
    Roboto, "Helvetica Neue", Arial, "Josefin Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: "Montserrat", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 26px;
  --text-4xl: 28px;
  --text-5xl: 30px;
  --text-6xl: 50px;
  --text-base: 14px;
  --text-banner: 60px;
  --text-banner1: 80px;
  --text-menulist: 40px;

  --color-darkgray: #f5f5f5;
  --color-lightgray: #fbfbfb;
  --color-deepgray: #e2e2e2;
  --color-base: #000000;
  --color-theme: #f66d24;
  --color-white: #fff;
  --color-footerbg: #a1a1a1;
  --color-black: #000;
  --color-gray: #656565;

  --star-color: #979494;
  --star-background: #ffa838;
  --rating: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: var(--color-base);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}
body {
  line-height: 1.5;
  color: var(--color-base);
  font-family: var(--font-family-monospace);
  font-size: var(--text-base);
  letter-spacing: 0.5px;
  margin: 0px;
}
.container {
  max-width: 1100px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}
.form-zone {
  background-color: var(--color-lightgray);
  min-height: 100vh;
  padding: 20px 0 20px;
  position: relative;
  overflow: hidden;
}
.form-zone:after {
  width: 324px;
  height: 249px;
  content: "";
  display: block;
  position: absolute;
  left: -204px;
  top: -35px;
  background-color: var(--color-theme);
  transform: rotate(116deg);
}
.form-zone:before {
  width: 324px;
  height: 249px;
  content: "";
  display: block;
  position: absolute;
  right: -204px;
  bottom: -35px;
  background-color: var(--color-theme);
  transform: rotate(116deg);
}
.form-mainarea {
  background-color: var(--color-white);
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  max-width: 800px;
  margin: 0px auto;
  width: 100%;
  border-radius: 20px;
  position: relative;
  z-index: 99999;
}
.form-zone h1 {
  text-align: center;
  font-size: var(--text-5xl);
  margin-top: 10px;
  font-weight: 700;
}
.form-zone p {
  width: 70%;
  margin: 0px auto;
  font-size: var(--text-lg);
  line-height: 1.6;
  text-align: center;
}
.profile-menu {
  margin-top: 30px;
  border-bottom: 3px double var(--color-deepgray);
  padding-bottom: 15px;
  text-align: center;
}
.profile-menu ul {
  margin: 0px auto;
  padding: 0px;
}
.profile-menu ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 3px;
  min-width: 159px;
}
.profile-menu ul li a {
  background-color: var(--color-darkgray);
  color: var(--color-base);
  text-transform: uppercase;
  font-size: var(--text-sm);
  padding: 12px 15px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid #a7a9a3;
  width: 100%;
  font-weight: 600;
  letter-spacing: 1px;
}
.profile-menu ul li a.active {
  background-color: var(--color-theme);
  color: var(--color-white);
  border: 1px solid var(--color-theme);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.col-8 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.col-5 {
  flex: 0 0 35%;
  max-width: 35%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.col-7 {
  flex: 0 0 65%;
  max-width: 65%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.form-group {
  position: relative;
  margin: 25px 0;
}
.form-group input,
.form-group textarea {
  font-size: var(--text-sm);
  padding: 10px;
  -webkit-appearance: none;
  display: block;
  background: transparent;
  color: var(--color-base);
  width: 100%;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--color-deepgray);
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0.5px;
  outline: none !important;
}
h4 {
  text-align: center;
  margin: 12px 0;
  font-weight: 600;
  font-size: var(--text-2xl);
  text-transform: uppercase;
}
.required {
  color: red;
}
label {
  color: var(--color-footerbg);
  font-size: var(--text-sm);
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 10px;
  transition: all 0.2s ease;
  letter-spacing: 0.5px;
}
.form-group input:focus ~ label,
.form-group textarea:focus ~ label {
  top: -25px;
  left: 5px;
  color: var(--color-base);
  text-transform: uppercase;
  font-size: var(--text-xs);
}
label.stylee {
  top: -25px;
  left: 5px;
  color: var(--color-base);
  text-transform: uppercase;
  font-size: var(--text-xs);
}
.completebutton {
  margin: 0px auto;
  width: 100%;
  color: var(--color-white);
  border-radius: 8px;
  border: none;
  background-color: var(--color-base);
  font-size: var(--text-md);
  text-transform: uppercase;
  padding: 15px 0;
  max-width: 400px;
  margin-top: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: var(--font-family-monospace);
  cursor: pointer;
}
.centertext {
  text-align: center;
}

/*--------------------------------------------------------------- Home page -------------------------------------------------------------*/
header {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 999;
  transition: all 0.2s ease-in-out;
}
header .container {
  max-width: 1920px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}
header.sticky {
  background-color: rgba(0, 0, 0, 0.99);
  padding: 10px 0;
}
.headerinner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section {
  overflow: hidden;
}
.logo {
  color: var(--color-white);
  font-size: var(--text-5xl);
  font-weight: 500;
}
.logo a {
  color: var(--color-white);
}
.toggle_icon {
  cursor: pointer;
  height: 20px;
  width: 30px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  background: transparent;
  padding: 5px;
  z-index: 9999;
  position: relative;
}
.toggle_icon span {
  height: 2px;
  width: 25px;
  display: block;
  background: var(--color-white);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.toggle_icon span:before {
  content: "";
  height: 2px;
  width: 35px;
  display: block;
  background: var(--color-white);
  right: 0;
  top: -10px;
  position: absolute;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.toggle_icon span:after {
  content: "";
  height: 2px;
  width: 35px;
  display: block;
  background: var(--color-white);
  right: 0;
  bottom: -10px;
  position: absolute;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.bannerarea {
  min-height: 100vh;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  width: 100%;
}
.bannerarea .container {
  min-height: 100vh;
  position: relative;
}
.banneroncontent {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 80%;
}
.banneroncontent h1 {
  color: var(--color-white);
  font-size: var(--text-6xl);
  font-weight: 600;
  text-shadow: 0px 0px 15px var(--color-black);
}
.banneroncontent h5 {
  color: var(--color-white);
  font-size: var(--text-lg);
  font-weight: normal;
  text-shadow: 0px 0px 15px var(--color-black);
  line-height: 1.8;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.text-center {
  text-align: center;
}
.position-relative {
  position: relative;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.onhoverimage {
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.onhoverimage:hover {
  transform: scale(1.1) rotate(5deg);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
section h3 {
  margin: 5px 0 25px;
  font-weight: 600;
  color: var(--color-base);
  font-size: var(--text-5xl);
  text-transform: capitalize;
}
section h6 {
  color: var(--color-theme);
  font-size: var(--text-xl);
}
.primary {
  background: var(--color-white);
  border: 1px solid var(--color-theme);
  color: var(--color-theme);
  padding: 13px 10px;
  font-size: var(--text-md);
  min-width: 160px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 1px;
  margin-top: 25px;
}
.primary:hover {
  background: var(--color-theme);
  color: var(--color-white);
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.aboutusarea,
.ourteam {
  padding: 60px 0;
  overflow: hidden;
}
.ourcontent {
  font-size: var(--text-md);
  font-weight: normal;
  line-height: 2;
}
.servicearea,
.newsarea {
  padding: 60px 0;
  overflow: hidden;
  background-color: var(--color-lightgray);
}
.service-block {
  padding: 25px 20px 20px;
  background: var(--color-white);
  position: relative;
  z-index: 1;
  margin: 20px 15px 0;
}
.service-block h4 {
  font-size: var(--text-2xl);
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.service-block p {
  font-size: var(--text-sm);
  font-weight: normal;
  line-height: 1.9;
  color: var(--color-gray);
}
.icon-service {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 0px auto;
  padding: 14px;
  border: 1px solid #e2e2e2;
  border-radius: 100%;
}
.icon-service svg {
  height: 40px;
  width: 40px;
}
.singleservice::before,
.singleservice::after {
  position: absolute;
  content: "";
  width: 105%;
  height: 85%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(97deg);
  background: var(--color-white);
  right: 0;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.singleservice:hover::before,
.singleservice:hover::after {
  background: var(--color-theme);
  transform: translateY(-50%) translateX(-50%) rotate(98deg);
}
.singleservice:hover .icon-service {
  background-color: var(--color-theme);
  box-shadow: 0px 10px 30px 0px rgb(239 99 48 / 33%);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.singleservice .icon-service svg {
  fill: var(--color-gray);
}
.singleservice:hover .icon-service svg {
  fill: var(--color-white);
}
.onhoverbox {
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 4px solid var(--color-theme);
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 30px 20px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.singleteam {
  overflow: hidden;
}
.singleteam:hover .onhoverbox {
  top: 0;
}
.onhoverbox h4 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: var(--text-3xl);
  margin-top: 40px;
  width: 100%;
}
.onhoverbox h5 {
  text-transform: capitalize;
  font-size: var(--text-sm);
  margin: 10px 0;
  width: 100%;
}
.singleblog {
  padding: 5px;
  border: 1px solid #e2e2e2;
}
.bloginfo {
  padding: 5px;
}
.innerblog {
  background-color: var(--color-white);
  margin-top: -30px;
  z-index: 9;
  position: relative;
  padding: 15px 10px;
}
.whopost {
  display: flex;
  align-items: center;
}
.whopost span {
  margin-left: 10px;
  font-size: var(--text-md);
  font-weight: 600;
}
.whopost img {
  border-radius: 100%;
}
.singleblog h3 {
  font-size: var(--text-xl);
  margin: 5px 0 10px;
  line-height: 1.6;
}
.singleblog p {
  line-height: 1.9;
}
.singleblog small {
  color: var(--color-theme);
  font-size: var(--text-sm);
}
.blogimage {
  overflow: hidden;
}
.blogimage img {
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.singleblog:hover .blogimage img {
  transform: scale(1.1) rotate(5deg);
}
footer {
  background-color: var(--color-base);
  padding: 25px 0;
  text-align: center;
  color: var(--color-white);
}
.toggle_icon.isActive span {
  background-color: transparent;
}
.toggle_icon.isActive span:after {
  transform: rotate(45deg) translate(-8px, -8px);
}
.toggle_icon.isActive span:before {
  transform: rotate(-45deg) translate(-9px, 6px);
}
#menulist {
  position: fixed;
  background-color: var(--color-base);
  height: 100%;
  width: 100%;
  max-width: 320px;
  top: 0;
  bottom: 0;
  right: -500px;
  z-index: 99;
  transition: all 0.2s ease-in-out;
}
#menulist.activate {
  right: 0;
}
#menulist ul {
  margin: 0px;
  padding: 85px 20px 30px;
  text-align: right;
}
#menulist ul li {
  list-style: none;
  display: block;
  margin: 15px 0;
  font-size: var(--text-xl);
}
#menulist ul li a {
  color: var(--color-white);
}
#menulist ul li:hover a {
  color: var(--color-theme);
}
@media (max-width: 767px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .form-zone p {
    width: 100%;
  }
  .profile-menu ul li {
    margin-bottom: 5px;
  }
  .profile-menu ul li a {
    padding: 7px 10px;
  }
  .form-zone h1 {
    font-size: var(--text-4xl);
  }
  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .singleservice::before,
  .singleservice::after {
    display: none;
  }
  .aboutusarea,
  .ourteam {
    padding: 30px 0;
    overflow: hidden;
  }
  .servicearea,
  .newsarea {
    padding: 30px 0;
    overflow: hidden;
  }
  .banneroncontent h1 {
    font-size: var(--text-3xl);
  }
  .banneroncontent h5 {
    font-size: var(--text-md);
  }
}
